* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .container {
    height: 100vh;
    width: 100%;
    background: url("../img/BMW\ S1000.png") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgb(0, 0, 0);
    padding-left: 60px;
  }
  
  .texto h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .texto p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .botao {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .botao:hover {
    background-color: #094fe5;
    color: white;
  }